[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-storages = "==1.13.2"
boto3 = "*"
django-cloudinary-storage = "*"
djangorestframework = "*"
redis = "*"
pylint = "*"
psycopg2 = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.10"
